html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: flex-start;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

body > #flowchart {
    /* The values are originally a bit small since the PS4 only renders at 720px,
       we need to scale them up a bit*/
    transform: scale(1.5);
    transform-origin: top left;
}

body > #flochart > .choicegroup {
    flex: 1 1 auto;
}

body > #flowchart {
    display: flex;
    flex: 1 1 auto;
    width: auto;
    height: 100%;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
}

body > #flowchart .choice.large {
    padding: 6px 12px;
    height: 47px;
    font-size: 1.2em;
}

body > #flowchart .choice {
    width: 240px;
    padding: 6px;
    min-height: 16px;
    display: flex;
    font-size: 0.8em;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2em;
    text-transform: uppercase;
    color: white;
    position: relative;
    background: #9d9c9b;
}

body > #flowchart .choice:not(.large):after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
}

body > #flowchart .choice.chosen:not(.large):after {
    background: linear-gradient(to right, #14496f, #2071b4);
}

body > #flowchart .choice:not(.chosen):not(.large):after {
    background: linear-gradient(to right, #7b797a, #868585);
}

body > #flowchart .choicegroup .choice:not(:first-child) {
    margin-top: 4px;
}

body > #flowchart .choice.chosen {
    background: linear-gradient(to right, #14496f, #2071b4);
    border: none;
}

body > #flowchart .choice.chosen:not(.large) {
    padding: 6px;
}

body > #flowchart .choice.chosen.large:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -100%;
    right: 0px;
    left: 0px;
    height: 47px;
    padding: 6px 12px;
    background: transparent;
    box-shadow: inset 0 -40px 20px -35px #3371a785;
}

body > #flowchart .choice.chosen.large:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -100%;
    right: 0px;
    left: 0px;
    height: 47px;
    padding: 6px 12px;
    background: transparent;
    box-shadow: inset 0 40px 20px -35px #3371a785;
}

#triangle-container {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
}

#triangle-container > .triangle {
    border: none;
    position: absolute;
    margin-left: -50%;
    width: 200px;
    height: 173.199px;
    opacity: 0.0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    -ms-transition: opacity 2s;
    transition: opacity 2s;
}

#triangle-container > .triangle:after {
    content: "";
    z-index: -1;
    background: url("./assets/triangle.svg") repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

#triangle-container > .triangle.odd {
    margin-left: 0px;
    transform: rotate(180deg) scaleX(-1);
    opacity: 0.0;
}